/* Variables */
:root {
    --borderColor: #CCCCCC;
}

/* header section style */
header {
    height: clamp(4rem, 9vmax + .2rem, 70px);
    width: 100%;
    border-bottom: 1px solid var(--borderColor);
    padding-left: 20px;
}

/* hbnb logo style */
header .logo {
    background: url("../images/logo_hbnb.png") no-repeat center;
    width: clamp(6.5rem, 20vmax + .5rem, 10rem);
    background-size: contain;
    height: 100%;
}